<html lang="en">
<php lang="en">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Venture - Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-exchange"></i><i>Vent</i><span class="light">ure</span> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#articles">Articles</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><i class="fa fa-exchange"></i><i>Vent</i>ure</h1>
                        <p class="intro-text">A site for conversation.<br>What will you learn today?</p>
                        <a href="#articles" class="btn btn-circle page-scroll">
                            <i class="fa fa-male animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

   <!-- Article Section -->
    <section id="articles" class="content-section text-center">
        <div class="portfolio-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Articles</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium nisi tortor, ac pellentesque enim tempor nec. Curabitur nec velit scelerisque, rutrum mauris sit amet, cursus sapien. Maecenas efficitur risus ut mattis convallis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam eleifend eros sed varius blandit. Proin turpis elit, sollicitudin vel turpis et, mattis laoreet mauris. Nulla erat risus, facilisis et maximus in, iaculis sed nibh.
                        <br /><br />
                         In iaculis mauris in eros blandit interdum. Fusce ornare dictum ex, eget varius augue tincidunt non. Nullam tempus est ac tellus dictum, nec ullamcorper metus dignissim. Aenean vitae sodales lectus. Vestibulum aliquam, leo vel condimentum commodo, sapien est imperdiet erat, a molestie justo mauris in nisi. Etiam auctor, mauris a eleifend gravida, tellus nunc molestie dolor, vitae pulvinar quam felis vitae eros. Ut semper egestas sem non tempor. Sed pulvinar velit fringilla euismod sodales. Vivamus blandit imperdiet magna, ac imperdiet dui consequat vitae. Mauris pretium odio tortor, eu commodo neque accumsan a. Fusce ac sem mauris. Maecenas fringilla orci ac tempus gravida. Nunc vel ante quis augue venenatis sollicitudin at vitae risus.
                        <br /><br />
                        Pellentesque ullamcorper pretium vulputate. In ultricies nisi vel diam iaculis dictum sit amet et tellus. In vel ultricies magna, ac aliquam ex. Duis ullamcorper sodales odio et tempor. Maecenas ornare ligula nec ante tincidunt dictum. Ut porttitor felis non nulla ornare, nec tempor turpis fermentum. Duis sollicitudin varius quam, nec varius nulla blandit eu. Curabitur at maximus ex, vitae feugiat elit. Integer tincidunt est semper mi mattis, vitae feugiat augue cursus. Aliquam ut aliquet purus, vel ultrices risus.
                        <br /><br />
                        Ut erat diam, tincidunt at ante at, bibendum euismod lorem. Aenean pharetra nulla tellus, nec ultricies urna blandit eu. Cras tristique fermentum tellus, sed sodales est. Nunc non facilisis ante. Nunc ultricies varius lacus. Donec fringilla feugiat malesuada. Integer ullamcorper turpis ligula, nec maximus nibh faucibus non. Sed fringilla justo neque, eleifend facilisis nibh dapibus at.
                        <br /><br />
                        Nunc vitae mollis ante. In finibus laoreet venenatis. Aenean et porta neque. Fusce vehicula in nulla vel ullamcorper. Donec pulvinar, augue non euismod laoreet, sapien massa sodales libero, nec convallis urna urna ut sapien. Integer dapibus malesuada accumsan. Cras in libero vel risus tincidunt scelerisque eu fringilla erat. Aliquam ornare quam a augue ullamcorper, ac dignissim lacus vulputate. 
                    </p>
                    <a href="#" class="btn btn-default btn-lg">Previous Articles</a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About <i>Vent</i>ure</h2>
                <blockquote><p>"Ideas can be life-changing.  Sometimes all you need to open the door is just one more good idea."</p><p><small>Jim Rohn</small></p></blockquote>
                <p>
                    Venture is a blog built around bringing discussion to people. We want to bring topics of conversation to different individuals. We want to ponder them, and then present them with a new angle. We want to test things. We want to invent, and re-invent, and perfect. We want to see society change. We want to find others that will use our ideas. We want to make discoveries. We want to create. 
                        <br />
                        <br />
                    Venture is one of the many ways for us to do that. It's a place to read, write, and comment. Discuss current issues and events, and use your thoughts to affect the world around you. Have an idea of your own? <a href="#contact">Share it</a> with us! We'll post it right above, on the front page.
                </p>
                <hr>
                <br />
                <h2>About the Author</h2>
                <p><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1969113_10153225467602501_8765016320735993631_n.jpg?oh=6598f4eb60771c175c6041028754281e&oe=54F99DC6&__gda__=1430632703_a83dd25b8790d7a8f966919da8b3b5e5" 
   class="img-circle"></p>
                <p>Jacob Missall is a senior student at <a href= "http://www.mercer.edu">Mercer University</a>, in Macon, GA. He is majoring in Technical Communication, and minoring in Media Studies. Jacob is from Ocala, FL. He plans on pursuing a career overseas where he can see different places and meet different people.</p>
                <p>In his spare time, Jacob enjoys biking, playing guitar, and meeting with friends. He likes to watch movies featruing cool characters getting into all sorts of trouble.</p>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Us</h2>
                <p>This contact form is actually not working yet, but if it did then this is what it would look like: <br /><br /><strike>Do you have an idea you want heard? Do you want to tell us something great (or maybe not so great)? We'd love to hear from you!</strike></p>
                
    <!-- Contact Sheet Here -->
    <!--NOTE: RESTRICT INPUT CHARACTERS ASAP -->
<form class="form-horizontal" role="form" method="post" action="index.php">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Your Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="First & Last" value="">
             <!-- <?php echo "<p class='text-danger'>$errName</p>";?> -->
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Your Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
            <!-- <?php echo "<p class='text-danger'>$errEmail</p>";?> -->
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="6" name="message"></textarea>
           <!-- <?php echo "<p class='text-danger'>$errMessage</p>";?> -->
        </div>
    </div>
    <div class="form-group">
        <label for="human" class="col-sm-2 control-label">Are you a human or a robot?</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="human" name="human" placeholder="(Anti-Spam Security Question)" value="">
            <!-- <?php echo "<p class='text-danger'>$errHuman</p>";?> -->
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Send" Send class="btn btn-primary">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <!-- <?php echo $result; ?> -->
        </div>
    </div>
</form>
                <p>Want to know when we're posting? Follow us on social media!</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/JacobMissall" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    
                <!-- Commenting out un-used buttons 
                    <li>
                        <a href="https://github.com/" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="http://www.Google.com" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Your Mom</span></a>
                    </li>
                -->
                
                    
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>&copy; 2015 Venture </p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGuyWWUuQuiOU0Qw3q9AUinOF4zBU-Qls&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    
    <p><a href="/secret">Shh!</a></p>

</body>

</html>
</php>